<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/syntax.css">
    <meta property="og:title" content="${meta.title}" />
    <meta property="og:type" content="${meta.type}" />
    <meta property="og:url" content="${meta.url}" />
    <meta property="og:image" content="${meta.url}${meta.image}" />
    <title>${meta.title}</title>
</head>
<body>
    <div class="box">
        <div class="column">
            <p class="cover" style="background-color: ${cover.color}">
                <img src="${cover.image}" class="cover-img">
            </p>
        </div>
        <div class="column">
            <header>
                <nav>
                    <ul>
                        <li><h2><a href="/">Home</a></h2></li>
                        <li><h2><a href="/about.html">About</a></h2></li>
                        <li><h2><a href="/index.xml">RSS</a></h2></li>
                    </ul>
                </nav>
            </header>
            <main>