<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/assets/index.css">
    <meta property="og:title" content="${meta.title}" />
    <meta property="og:type" content="${meta.type}" />
    <meta property="og:url" content="${meta.url}" />
    <meta property="og:image" content="${meta.url}${meta.image}" />
    <title>${meta.title}</title>
</head>
<body>
    <div class="box">
        <div class="column">
            <p class="cover" style="background-color: ${meta.color}">
                <img src="/images/cover.png" class="cover-img">
            </p>
        </div>
        <div class="column">
            <header>
                <nav>
                    <ul>
                        <li><h2><a href="/">Home</a></h2></li>
                        % for page in pages:
                        <li>
                            <h2>
                                <a href="/${page.relative_link()}">${page.title}</a>
                            </h2>
                        </li>
                        % endfor
                        <li><h2><a href="/index.xml">RSS</a></h2></li>
                    </ul>
                </nav>
                <h1>${meta.title}</h1>
                <p>${meta.description}</p>
            </header>
            <main>