<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/syntax.css">
    <title>vandenbran.de</title>
</head>
<body>
    <div class="box">
        <div class="column">
            <p class="cover">
                <img src="${post.cover()}" class="cover-img">
            </p>
        </div>
        <div class="column">
            <header>
                <nav>
                    <ul>
                        <li><h2><a href="/">Home</a></h2></li>
                        <li><h2><a href="/about.html">About</a></h2></li>
                        <li><h2><a href="/index.xml">RSS</a></h2></li>
                    </ul>
                </nav>
            </header>
            <main>